.comment-border {
    border-left: 1px;
    border-left-style: solid;
    border-color: lightgray;
}
.comment-text-area {
    
}
.comment-textarea-border {
    border-bottom: 1px;
    border-top: 1px;
    border-bottom-style: solid;
    border-top-style: solid;
    border-color: lightgray;
}
.comment-actions {
    font-size: 1.2rem!important;
}
.comment-actions-btc :hover{
    
}